    <!--====== OUE CHOOSE PART START ======-->
    <div class="our-choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mt-30">
                        <span>{{ site.data.our-choose-area.tagline }}</span>
                        <h2 class="title">{{ site.data.our-choose-area.title }}</h2>
                    </div> <!-- section title -->
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fal fa-long-arrow-right"></i> We Provide Professional Service
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fal fa-long-arrow-right"></i> Stay Up, Stay Running & Protected
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fal fa-long-arrow-right"></i> Our Experienced Experts
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fal fa-long-arrow-right"></i> Management Engineering System
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                    </div> <!-- accordion -->
                </div>
                <div class="col-lg-6">
                    <div class="our-choose-counter-area mt-30">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                    <sub><span class="counter">569</span> <sup>+</sup></sub>
                                    <span>Projct Complate</span>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s" data-wow-delay="0s">
                                    <sub><span class="counter">783</span> <sup>+</sup></sub>
                                    <span>Business Partners</span>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                    <sub><span class="counter">356</span> <sup>+</sup></sub>
                                    <span>Happy Clients</span>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s" data-wow-delay="0s">
                                    <sub><span class="counter">894</span> <sup>+</sup></sub>
                                    <span>IT Consultant</span>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptsantium doloremque laudantium</p>
                                </div>
                            </div> <!-- our choose counter -->
                        </div> <!-- row -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== OUE CHOOSE PART ENDS ======-->
